{% extends './base.html' %}
{% load static %}
{% block title %}Tarea2{% endblock title %}
{% block stylecss %}<link rel="stylesheet" href="{% static 'css/tarea2.css' %}"> {% endblock stylecss %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <h1>{{my_var}}</h1>
                <input type="number" id="mi_input" name="pagina" min="1" max="2844">
            <h3>Título</h3>                    
                    <label for="proyectos"> Numero de proyecto</label>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'actualizar_proyectos' %}">
        <button class="btn btn-primary">Actualizar Proyectos</button>
    </a>
    
    <table class="table">
        <thead class="table-primary">
            <tr>
                <th>Nº</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Región</th>
                <th>Tipología</th>
                <th>Titular</th>
                <th>Inversión</th>
                <th>Fecha de Presentación</th>
                <th>Estado</th>
                <th>Mapa</th>
            </tr>
        </thead>
        {% if proyectos %}
        <tbody>
            {% for proyecto in proyectos %}
            <tr>
                <td>{{proyecto.No}}</td>
                <td>{{proyecto.Nombre}}</td>
                <td>{{proyecto.Tipo}}</td>
                <td>{{proyecto.Region}}</td>
                <td>{{proyecto.Tipologia}}</td>
                <td>{{proyecto.Titular}}</td>
                <td>{{proyecto.Inversion}}</td>
                <td>{{proyecto.FechaPresentacionFecha}}</td>
                <td>{{proyecto.Estado}}</td>
                <td>{{proyecto.Mapa}}</td>
            </tr>
            {% endfor %}

            {% else %}
            <h1> No existen proyectos</h1>

            {% endif %}
        </tbody>

    </table>
{% endblock body %}

{% block js_block %}
<script src="{% static 'js/home.js' %}">
</script>
{% endblock js_block %}