{% extends './base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block stylecss %}<link rel="stylesheet" href="{% static 'css/home.css' %}"> {% endblock stylecss %}
{% block body %}
    <div class="container-fluid">
        <h1>
            Estaciones de BikeSantiago
        </h1> 
        <div class="container">
            {% for i in all_data %}
            <div class="card">
                <div class="card-title">
                    Información de la estación
                </div>
                <div class="card-body">
                    <div class="card-text">
                        Estación = {{i.name_station}}
                    </div>
                    <div class="card-text">
                        Bicicletas disponibles= {{i.free_bikes}}
                    </div>
                    <div class="card-text">
                        Dirección = {{i.address}}
                    </div>
                    <div class="card-text"> 
                        Latitud = {{i.latitude}}
                    </div>
                    <div class="card-text">
                        Longitud = {{i.longitude}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
        </div>
            
    </div>
{% endblock body %}

{% block js_block %}
<script src="{% static 'js/home.js' %}">
</script>
{% endblock js_block %}
